* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
}

main {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(50, 40, 40);
    transition: 0.8s all;
}

.container {
    background-color: rgb(24, 23, 23);
    border: 10px solid rgba(47,47,47,1);
    border-radius: 30px;
    gap: 2px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.8s all;
}

.row{
    margin-bottom: 4px;
}

.top-buttons {
    color: #fff;
    font-size: x-large;
    transition: 0.8s all;
    height: 26px;
}

a{
    text-decoration: none;
    color: inherit;
}

.fa-github, .fa-sun, .fa-moon{
    cursor: pointer;
    padding: 5px 40px 0px 10px;
    height: 18px;
    width: 18px;

}

.display{
    background-color: rgb(24, 23, 23);
    padding: 5px;
    margin: 5px;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px rgb(255, 255, 255, .4);
    border-style: solid none;
    word-wrap: break-word;
    word-break: break-all;
    transition: 0.8s all;
}

.screen{
    font-size: 50px;
    color:rgb(235, 160, 23);
}

#result{
    width: 100%;
}

button{
    padding: 25px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
}

button:hover{
    background-color: rgb(88, 95, 93);
}

.clear{
    width: 150px;
}

#zero{
    width: 150px;
}

.clear{
    background-color: rgb(240, 63, 63);
}

.clear:hover{
    background-color: rgb(204, 33, 33);
}

.operator{
    background-color: rgb(187, 135, 38);
}

.operator:hover{
    background-color: rgb(235, 160, 23);
}

.container-light, .display-light{
   background-color: rgb(157, 197, 197);
   transition: 0.8s all;
}

.background-light{
    background-color: rgb(127, 243, 247);
    transition: 0.8s all;
}

.display-light {
    border-color: rgb(47, 51, 50);
}

.button-light{
    color: rgb(47, 51, 50);
}

.operand-light{
    background-color: #fff;
}

.operand-light:hover{
    background-color: rgb(200, 198, 207);
    color: rgb(0, 0, 0);
}

.operator-light{
    background-color: rgb(235, 160, 23);
}

.operator-light:hover{
    background-color: rgb(187, 135, 38);
}

.clear-light{
    background-color: rgb(204, 33, 33);
    color: #fff;
}

.clear-light:hover{
    background-color: rgb(240, 63, 63);
}

.top-buttons-light{
    color:rgb(0, 0, 0);
    transition: 0.8s all;
}