* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
}

main {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
}

.container {
    background-color: rgb(24, 23, 23);
    border: 10px solid rgba(47,47,47,1);
    border-radius: 30px;
    gap: 2px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row{
    margin-bottom: 4px;
}

.top-buttons {
    text-decoration: none;
    color: #fff;
}

.display{
    background-color: rgb(24, 23, 23);
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px rgb(255, 255, 255, .4);
    border-style: solid none;
}

.screen{
    font-size: 50px;
    color:rgb(235, 160, 23);
}

#result{
    width: 100%;
}

button{
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
}

button:hover{
    background-color: rgb(88, 95, 93);
}

.clear, .zero{
    width: 150px;
}

.clear{
    background-color: rgb(240, 83, 83);
}

.clear:hover{
    background-color: rgb(243, 28, 28);
}

.operator{
    background-color: rgba(236, 173, 55, 0.6);
}

.operator:hover{
    background-color: rgb(235, 160, 23);
}

